
a.text {
	text-decoration: none;
	color: black;
}
a.text:active {
	color: black;
}
a.text:visited {
	color: black;
}

header {
	position: relative;
	margin-left: auto;
    margin-right: auto;
	width: 1000px;
	height: 210px;
	/*background-image: url(../images/backgrounds/back_rainbow_hd1500x500.jpg);*/
	background-image: url(../images/backgrounds/header_back_normal.png);
	background-size: 100% auto;
	font-family: 'Comfortaa', cursive;
}
header #call {
	display: flex;
    align-items: center;
    justify-content: space-around;
}
header #call a {
	padding: 5px;
	text-decoration: none;
	color: black;
	display: block;
}
header #call a:hover {
	border: 1px solid gray;
	border-radius: 30px;
}
header #call strong:before {
	content: <img src="images/call.png" width="30" height="30" border="0">;
}

/* Корзина */

header .basket {
	position: absolute;
	bottom: 0;
	right: 30px;
}
#basket_icon {
	float: left;
}
#basket_count, #basket_count_price {
	margin-left: 90px;
	font-size: medium;
	line-height: 0.9;
}
#basket_count {
	margin-top: 10px;
}

.auth {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -7px;
	margin-right: 30px;
}
.auth li{
	display: inline-block;
}

/*Панель навигации*/

nav {
	display: table;
	margin: 0 auto;
}
nav ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	font-family: 'Comfortaa', cursive;
	font-size: x-large;
	text-align: center;
	width: 100%;
	
}
.topmenu:after {
    content: "";
    display: table;
    clear: both;
}
.topmenu > li {
	position: relative;
	float: left;
	/* width: 20%; */
}
.topmenu > li > a {
	padding: 7px 30px;
	text-decoration: none;
	color: #333;
	background-color: #f4f4f4;
	display: block;
}
.topmenu li a:hover {
	cursor: pointer;
	background-color: #333;
	color: #f4f4f4;
}

.submenu {
	/* visibility: hidden; */
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 0;
	left: 0;
	top: 100%;
	display: none;
	width: 190px;
}
.submenu a {
	padding: 6px;
	text-align: center;
	font-size: 1.4rem;
	text-decoration: none;
	color: #333;
	background-color: #f4f4f4;
	display: block;
}
.submenu li:first-child {
	border-top: 1px solid rgba(51, 51, 51, 0.5);
}
.topmenu > li:hover .submenu {
	/* visibility: visible; */
	opacity: 1;
	display: block;
}

/* Для разных разрешений экрана */

@media (min-width: 300px) and (max-width: 1000px) {
	header { height: 150px; }
}
@media (min-width: 1700px) {
	header { height: 23vh; max-height: 170px; }
}
@media (min-width: 1000px) and (max-width: 1700px) {
	header { height: 20vh; max-height: 150px; }
}